log_level = "{{ log_level }}"
bind_addr = "{{ bind_addr }}"
data_dir  = "{{ data_dir }}"
region    = "{{ region }}"

server {
    enabled = "{{ server_enable }}"
    bootstrap_expect = "{{ bootstrap_expect }}"
    server_join {
{% if not consul %}
      retry_join = [{%for host in groups['manager']%}"{{hostvars[host].ansible_eth0.ipv4.address}}"{% if not loop.last %},{% endif %}{% endfor %}]
{% endif %}
      retry_max = 3
      retry_interval = "15s"
    }
{% if encrypt %}
    encrypt = "{{ encrypt_token }}"
{% endif %}
    node_gc_threshold = "{{ node_gc_threshold }}"
    job_gc_threshold = "{{ job_gc_threshold }}"
    job_gc_interval = "{{ job_gc_interval }}"
    eval_gc_threshold = "{{ eval_gc_threshold }}"
    deployment_gc_threshold = "{{ deployment_gc_threshold }}"
}

{% if worker %}
client {
    enabled = "{{ client_enable }}"
    network_interface = "{{ network_interface }}"
}
{% endif %}

{% if consul %}
consul {
  address             = "{{ consul_address }}:{{ consul_port }}"
  server_service_name = "{{ server_service_name }}"
  auto_advertise      = "{{ auto_advertise }}"
  server_auto_join    = "{{ server_auto_join }}"
{%if consul_acl %}
  token               = "{{ server_token }}"
  allow_unauthenticated = "{{ consul_allow_unauthenticated }}"
{% endif %}
}
{% endif %}
acl {
  enabled = "{{ acl_enabled }}"
}

vault {
  enabled = "{{ vault_enabled }}"
{% if vault_enabled %}
  address          = "{{ vault_schema }}://{{ vault_address }}:{{ vault_port }}"
  create_from_role = "{{ vault_create_from_role }}"
  token            = "{{ vault_token }}"
{% endif %}
}
{% if worker %}
{% if custom_docker_plugin %}
plugin "docker" {
  config {
    gc {
      image       = "{{plugin_docker_gc_image}}"
      container   = "{{plugin_docker_gc_container}}"

      dangling_containers {
        enabled        = "{{plugin_docker_gc_dangling_containers_enabled}}"
        dry_run        = "{{plugin_docker_gc_dangling_containers_dry_run}}"
        period         = "{{plugin_docker_gc_dangling_containers_period}}"
        creation_grace = "{{plugin_docker_gc_dangling_containers_creation_grace}}"
      }
    }
    allow_privileged = "{{plugin_docker_allow_privileged}}"
    volumes {
      enabled      = "{{plugin_docker_volumes_enabled}}"
      selinuxlabel = "{{plugin_docker_selinux_label}}"
    }
  }
}
{% endif %}
{% if raw_exec_enabled %}
plugin "raw_exec" {
  config {
    enabled = "{{raw_exec_enabled}}"
  }
}
{% endif %}
{% endif %}