log_level = "{{ log_level }}"
bind_addr = "{{ bind_addr }}"
data_dir = "{{ data_dir }}"

server {
    enabled = "{{ server_enable }}"
    bootstrap_expect = "{{ bootstrap_expect }}"
}

client {
    enabled = "{{ client_enable }}"
    network_interface = "{{ network_interface }}"
}

plugin "docker" {
  config {
    gc {
      image       = true
      image_delay = "6h"
      container   = true

      dangling_containers {
        enabled        = true
        dry_run        = false
        period         = "5m"
        creation_grace = "5m"
      }
    }
  }
}
acl {
  enabled = "{{ acl_enable }}"
}