log_level = "{{ log_level }}"
bind_addr = "{{ bind_addr }}"
data_dir = "{{ data_dir }}"
region = "{{region}}"

client {
    enabled = "{{ client_enable }}"
    network_interface = "{{ network_interface }}"
    server_join {
        retry_join = ["{{ retry_join }}"]
        retry_max = "{{ retry_max }}"
        retry_interval = "{{ retry_interval }}"
    }
    options = {
      "driver.whitelist" = "{{ client_driver_whitelist }}"
    }
    gc_interval = "{{ client_gc_interval }}"
    gc_disk_usage_threshold = {{ client_gc_disk_usage_threshold }}
    gc_parallel_destroys = {{ client_gc_parallel_destroys }}
}

consul {
  address             = "{{ ansible_facts.default_ipv4.address }}:{{ consul_port }}"
  client_service_name = "{{ client_service_name }}"
  auto_advertise      = "{{ auto_advertise }}"
  client_auto_join    = "{{ client_auto_join }}"
  token               = "{{ client_token }}"
  allow_unauthenticated = "{{ consul_allow_unauthenticated }}"
}

acl {
  enabled = "{{ acl_enable }}"
}

vault {
  enabled          = "{{ vault_enabled }}"
  address          = "{{ vault_schema }}://{{ vault_address }}:{{ vault_port }}"
  create_from_role = "{{ vault_create_from_role }}"
}