log_level = "{{ log_level }}"
bind_addr = "{{ bind_addr }}"
data_dir = "{{ data_dir }}"
region = "{{ region }}"

client {
    enabled = "{{ client_enable }}"
    network_interface = "{{ network_interface }}"
    server_join {
{% if consul is false %}
      retry_join = ["{{ retry_join }}"]
{% endif %}
      retry_max = "{{ retry_max }}"
      retry_interval = "{{ retry_interval }}"
    }
    options = {
      "driver.whitelist" = "{{ client_driver_whitelist }}"
    }
    gc_interval = "{{ client_gc_interval }}"
    gc_disk_usage_threshold = {{ client_gc_disk_usage_threshold }}
    gc_parallel_destroys = {{ client_gc_parallel_destroys }}
}
{% if consul %}
consul {
  address             = "{{ ansible_facts.default_ipv4.address }}:{{ consul_port }}"
  client_service_name = "{{ client_service_name }}"
  auto_advertise      = "{{ auto_advertise }}"
  client_auto_join    = "{{ client_auto_join }}"
{% if consul_acl %}
  token               = "{{ client_token }}"
  allow_unauthenticated = "{{ consul_allow_unauthenticated }}"
{% endif %}
}
{% endif %}

acl {
  enabled = "{{ acl_enabled }}"
}

vault {
  enabled          = "{{ vault_enabled }}"
{% if vault_enabled %}
  address          = "{{ vault_schema }}://{{ vault_address }}:{{ vault_port }}"
  create_from_role = "{{ vault_create_from_role }}"
{% endif %}
}
{% if custom_docker_plugin %}
plugin "docker" {
  config {
    gc {
      image       = "{{plugin_docker_gc_image}}"
      container   = "{{plugin_docker_gc_container}}"

      dangling_containers {
        enabled        = "{{plugin_docker_gc_dangling_containers_enabled}}"
        dry_run        = "{{plugin_docker_gc_dangling_containers_dry_run}}"
        period         = "{{plugin_docker_gc_dangling_containers_period}}"
        creation_grace = "{{plugin_docker_gc_dangling_containers_creation_grace}}"
      }
    }
    allow_privileged = "{{plugin_docker_allow_privileged}}"
    volumes {
      enabled      = "{{plugin_docker_volumes_enabled}}"
      selinuxlabel = "{{plugin_docker_selinux_label}}"
    }
  }
}
{% endif %}